## **18IT029_DS_PR2(DATA PREPROCESSING)**

### Import Libraries

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Import the Dataset

In [29]:
import pandas as pd
data = pd.read_csv('/content/sample_data/Iris.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             151 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   151 non-null    float64
 3   PetalLengthCm  151 non-null    float64
 4   PetalWidthCm   151 non-null    float64
 5   Species        151 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [30]:
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [31]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['SepalWidthCm'].value_counts()

3.0    26
2.8    14
3.4    13
3.2    13
3.1    12
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     3
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: SepalWidthCm, dtype: int64

### Label encoder

In [32]:
le=LabelEncoder()
data['Species']=df1.fit_transform(data['Species'])
data['Species'].value_counts()

2    51
1    50
0    50
Name: Species, dtype: int64

In [33]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [34]:
data['Species'].value_counts()

2    51
1    50
0    50
Name: Species, dtype: int64

In [35]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Species'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array([0, 1, 2])]

In [36]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
transformed_data.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0          1.0              0.0             0.0
1          1.0              0.0             0.0
2          1.0              0.0             0.0
3          1.0              0.0             0.0
4          1.0              0.0             0.0

In [37]:
transformed_data.iloc[90, ]

Iris-setosa        0.0
Iris-versicolor    1.0
Iris-virginica     0.0
Name: 90, dtype: float64

In [38]:
data['Species'][90]

1

### Normalization & Standardization

In [39]:


numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [40]:
len(numeric_columns) , len(data.columns)

(6, 6)

In [41]:
numeric_columns.remove('Id')

In [42]:
temp_data = data[numeric_columns]
temp_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2
150            NaN           3.4            5.1           2.2        2

[151 rows x 5 columns]

### Normalization

In [43]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

     SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0        0.625000       0.067797      0.041667      0.0
1        0.416667       0.067797      0.041667      0.0
2        0.500000       0.050847      0.041667      0.0
3        0.458333       0.084746      0.041667      0.0
4        0.666667       0.067797      0.041667      0.0
..            ...            ...           ...      ...
146      0.208333       0.677966      0.750000      1.0
147      0.416667       0.711864      0.791667      1.0
148      0.583333       0.745763      0.916667      1.0
149      0.416667       0.694915      0.708333      1.0
150      0.583333       0.694915      0.875000      1.0

[151 rows x 4 columns]

### Standardization

In [44]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

     SepalWidthCm  PetalLengthCm  PetalWidthCm   Species
0        1.027992      -1.348209     -1.318548 -1.230860
1       -0.130417      -1.348209     -1.318548 -1.230860
2        0.332947      -1.405155     -1.318548 -1.230860
3        0.101265      -1.291264     -1.318548 -1.230860
4        1.259674      -1.348209     -1.318548 -1.230860
..            ...            ...           ...       ...
146     -1.288826       0.701823      0.911171  1.214664
147     -0.130417       0.815714      1.042331  1.214664
148      0.796310       0.929604      1.435810  1.214664
149     -0.130417       0.758768      0.780011  1.214664
150      0.796310       0.758768      1.304650  1.214664

[151 rows x 4 columns]

### Handling With Missing Values

In [45]:
numeric_data = data[numeric_columns]
numeric_data.isnull().sum()

SepalLengthCm    1
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [46]:

numeric_data['SepalLengthCm'].isnull().sum()

1

In [47]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
agent_col = imputer.fit_transform(numeric_data)
pd.DataFrame(agent_col).isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

### Discretization

In [48]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           3.5            1.4           0.2        0
1           3.0            1.4           0.2        0
2           3.2            1.3           0.2        0
3           3.1            1.5           0.2        0
4           3.6            1.4           0.2        0

### Quantile Discretization Transform

In [49]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

     SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             7.0            1.0           1.0      0.0
1             4.0            1.0           1.0      0.0
2             6.0            0.0           1.0      0.0
3             5.0            2.0           1.0      0.0
4             8.0            1.0           1.0      0.0
..            ...            ...           ...      ...
146           1.0            7.0           7.0      1.0
147           4.0            7.0           7.0      1.0
148           7.0            8.0           8.0      1.0
149           4.0            7.0           6.0      1.0
150           7.0            7.0           8.0      1.0

[151 rows x 4 columns]



### Uniform Discretization Transform

In [50]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

     SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             6.0            0.0           0.0      0.0
1             4.0            0.0           0.0      0.0
2             5.0            0.0           0.0      0.0
3             4.0            0.0           0.0      0.0
4             6.0            0.0           0.0      0.0
..            ...            ...           ...      ...
146           2.0            6.0           7.0      9.0
147           4.0            7.0           7.0      9.0
148           5.0            7.0           9.0      9.0
149           4.0            6.0           7.0      9.0
150           5.0            6.0           8.0      9.0

[151 rows x 4 columns]

### KMeans Discretization Transform

In [51]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

     SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             6.0            1.0           0.0      0.0
1             4.0            1.0           0.0      0.0
2             4.0            1.0           0.0      0.0
3             4.0            1.0           0.0      0.0
4             6.0            1.0           0.0      0.0
..            ...            ...           ...      ...
146           2.0            6.0           7.0      2.0
147           4.0            6.0           7.0      2.0
148           5.0            7.0           9.0      2.0
149           4.0            6.0           7.0      2.0
150           5.0            6.0           8.0      2.0

[151 rows x 4 columns]